
@media only screen and (max-width:780px) {
  /*adjustement de la section main*/	
  #main{
    width:95%;
	margin-left:-7px;
	margin-top:0px;
  	}
  /* adjustement de menu sommaire*/  
  #left	{
width:94%;
position:static;
text-align:center;
}
 /* adjustement de contenu du sommaire*/ 
#left a {text-align:center;width:95%;}

/*adjustement de titre de la page*/
#title{width:100%;margin-top:270px;margin-left:7px;}

/*adjustement de menu de l'index*/
#link {
    width:95%;
	margin-left:0px;
  	}
 /*adjustement de la section main de l'index*/ 
 #indexmain{ 
	height:100%; 
	width:80%; 
	padding:10px;
	margin-left:10%;}
/*adjustement de la section introduction de l'index*/
#intro{width:60%;
   margin-left:20%;}   
   
}	
	