
/*style de le contenu de menu de l'index*/

#link{ 
display:block;
width:50%;
color:black; 
margin-bottom:10px; 
margin-left:23%;
border:1px solid ;
background-color:#e6f0ff;
 padding:10px;  
 text-decoration: none;
 }

/*style du titre de l'index*/
 
h2{ display:block;
 width:70%; 
border:1px solid ;
 border-radius:5px; 
 padding:20px ; 
 text-align:center; 
 margin-left:13%; 
 margin-top:-5px; 
 background-color:#e6f0ff; }
 
/*style de l'introduction de l'index*/
 
#intro{display:block;
width:50%; 
padding:10px ;   
margin-left:23%;
margin-top:-10px;}

/*style de la section main de l'index*/ 

#indexmain{ display:block;width:70%; border-left:solid 1px ;border-right:solid 1px;margin-left:15%; height:680px; background-color:white; }

/*style du footer de l'index*/
footer {display:block;width:70%; border:1px solid ; border-radius:5px; padding:20px ; 
text-align:center;  margin-left:13%; margin-top:20px; background-color:#e6f0ff; }

/*style de la partie body avec des couleurs pour avoir une background autour de section main*/ 
body{background-image: linear-gradient(white,#809fff);} 